---
title: "Get Started"
---

{% include '_content/page-header.njk' %}

{%- set docs = collections.docs | documentationsByTag('get-started') -%}
<section class="page-content">
   <div class="page-content__details">
        <div class="page-content__overview">
            <h3>Full-stack WebApp Development and Delivery with Cloud Services</h3>
            <p>In today's fast-paced digital landscape, businesses and developers alike are constantly seeking
                efficient ways to develop, deploy, and scale web applications. Full-stack web application development
                coupled with cloud services has emerged as a transformative approach, enabling seamless creation,
                deployment, and management of robust applications.</p>
            <figure class="featured-figure">
                <img src="/_assets/svg/fdtechdotnet-learning-target-and-scope.drawio.svg" alt="Learning Target and Scope" />
            </figure>
            <p>Full-stack web application development encompasses the entire software stack, from front-end
                user interfaces to back-end server logic. This holistic approach empowers developers to craft
                end-to-end solutions tailored to meet the needs of modern users. By leveraging a combination of
                programming languages, frameworks, and tools, developers can create dynamic and interactive
                web applications that deliver exceptional user experiences.</p>
            <p>In parallel, cloud services have revolutionized the way applications are deployed and managed.
                Cloud platforms offer scalable infrastructure, storage, and services on-demand, eliminating the need
                for costly hardware investments and infrastructure maintenance. Additionally, cloud providers
                offer a suite of tools and services designed to streamline the development and deployment process,
                including continuous integration/continuous deployment (CI/CD) pipelines, auto-scaling capabilities,
                and serverless computing.</p>
        </div>
        {% if docs.length > 0 %}
        <section class="page-content__details-list">
            {% for markdownContent in docs %}
                {% if markdownContent.templateContent %}
                    <article>
                        {% if markdownContent.data.title %}
                            <h1 id="{{ markdownContent.data.title | slugify }}">
                                <span>{{ markdownContent.data.title }}</span>
                                {% if markdownContent.data.category %}
                                    <br /><small class="article-subtitle">{{ markdownContent.data.category}}</small>
                                {% endif %}
                            </h1>
                        {% endif %}
                        {{ markdownContent.templateContent | safe }}
                    </article>
                {% endif %}
            {% endfor %}
        </section>
        {% endif %}
   </div>
    <div class="page-content__toc cards cards-gray">
        <h6 class="page-content__toc-title">Table Of Contents</h6>
        <ul class="page-content__toc-anchors">
            {% for markdownContent in docs %}
                {% if markdownContent.data.title %}
                    <li>
                        <a href="#{{ markdownContent.data.title | slugify }}">{{ markdownContent.data.title }}</a>
                        {{ markdownContent.templateContent | toc | safe }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>