@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Saira&display=swap');
@import url('./_variables.scss');

* {
    box-sizing: content-box !important;
}

@import url('./_elements.scss');


.container {
    max-width: calc(var(--device-width-lg) - (2 * var(--default-spacing)));
    padding-left: var(--two-spacing);
    padding-right: var(--two-spacing);
    margin: 0 auto;

    @media screen and (max-width:800px) {
        padding: 0 var(--default-spacing);
    }
}

.content-block {
    box-shadow: 1rem 1rem 1rem var(--shadow-dark);
    background-color: var(--bg-slategray);
    padding: var(--default-spacing);
    border-radius: 0.5rem;
}




.under-construction {
    border-left: solid 1rem var(--bg-primary);
    padding: 0rem 1rem;
    margin: 3rem 0;

    > h2 {
        margin: 0;
        padding: 0 0 1rem 0;

        @media screen and (max-width:450px) {
            font-size: larger;
        }
    }

    > div {
        border-left: solid 1rem var(--bg-light);
        padding: 0rem 1rem 1rem 1rem;
        color: var(--text-light);
    }
}