.article-posts {
    display: grid;
    padding: var(--two-spacing) 0;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--two-spacing);
    color: var(--text-light);

    .articles-category {
        background-color: var(--bg-slategray);
        border-top: solid 5px var(--bg-primary);
        color: var(--text-light) !important;
        padding: var(--two-spacing);
        display: flex;
        flex-direction: column;

        & > [class*='fa-'] {
            font-size: calc(var(--text-size-xl) * 5);
            color: var(--text-dark);
            position: absolute;
            align-self: center;
            z-index: 1;
        }

        &__title {
            font-family: var(--font-title);
            font-size: var(--text-size-title);
            font-weight: bold;
            color: var(--text-primary);
            z-index: 2;
        }

        &__description {
            line-height: 1.5;
            flex: 1;
            z-index: 2;
        }

        &__post-count {
            color: var(--text-lightgray);
            z-index: 2;
        }
    }
}