.article-mainpage {
    padding-bottom: var(--default-spacing);

    & > article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        gap: var(--default-spacing);
        color: var(--text-light);

        @media screen and (max-width:800px) {
            flex-direction: column;
            width: calc(100%-var(--default-spacing));
        }
    }

    &__category {
        background-color: var(--bg-slategray);
        border-radius: calc(var(--default-spacing)/2);
        color: var(--text-light) !important;
        padding: var(--default-spacing);
        flex: 1;

        &:hover {
            color: #fff !important;
        }

        & > * {
            position: relative;
            z-index: 1;
        }

        & > [class*='fa-'] {
            font-size: calc(var(--text-size-lg)*2);
            color: var(--text-lightgray);
            padding: 0 var(--default-spacing);
            float: right;
            z-index: 0;
        }
    }

    .category {
        &__title {
            font-family: var(--font-title);
            font-size: var(--text-size-title);
            font-weight: bold;
            color: var(--text-primary);
        }

    }
}