.blog-page {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: var(--three-spacing);

    @media screen and (max-width:800px) {
        flex-direction: column;
        width: calc(100%-var(--default-spacing));
    }

    h1, h2, h3, h4, h5, h6 {
        color: var(--text-white);
        text-transform: capitalize;
    }

    h1 {
        border-top: 5px solid var(--bg-primary);
        padding-top: var(--default-spacing);
        display: block;
    }


    &__toc {
        h6 {
            text-transform: uppercase;
            font-size: var(--text-size-default);
            color: var(--text-light);
        }

        ul {
            margin: 0;
            padding: 0 0 0 1.5rem;

            & > li a {
                display: block;
                padding: 0.25rem;
                color: var(--text-lightgray);
                font-size: small;

                &:hover {
                    color: var(--text-white);
                }
            }
        }
    }

    &__content {
        flex: 1;

        // & > h1:not(:first-child), & > h2:not(:first-child) {
        //     margin-top: var(--three-spacing);
        // }

        // & > h3 {
        //     margin-top: var(--default-spacing);
        //     color: var(--text-white);
        //     margin-bottom: 0;
        //     padding: 1rem 0 0 0;
        // }

        img {
            width: 100%;
        }

        & > .giscus {
            border-top: 5px solid var(--bg-primary);
            margin-top: var(--two-spacing);
            padding-top: var(--two-spacing);
        }
    }
}