footer {
    color: var(--text-light);
    padding: var(--default-spacing);
    margin: 0;
    border-top: solid 1px var(--bg-slategray);
    background-color: var(--bg-dark);
    box-shadow: var(--shadow-dark-top);
    -webkit-box-shadow: var(--shadow-dark-top);
    -moz-box-shadow: var(--shadow-dark-top);

    .footer__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: baseline;
        justify-content: space-between;
        gap: var(--default-spacing);
        padding: 0;

        @media screen and (max-width:800px) {
            flex-direction: column;
            align-content: flex-start;
        }
    }

    .footer__notes {
        font-size: small;
        padding: 0 0.5rem;
    }
}