.page-callout {
    background-color: var(--bg-primary);
    color: var(--text-white);
    padding: 3rem 1rem;
    margin-bottom: 3rem;

    > .container {
        display: flex;
        gap: var(--default-spacing);

        article {
            flex: 1;
        }

        aside {
            background-color:transparent;
            width: 25rem;
        }
    }

    &__title {
        color: var(--text-white);
        text-transform: unset;
        padding: 0.25rem 0;
        margin: 0;

        @media screen and (max-width:450px) {
            font-size: var(--text-size-lg);
        }
    }

    &__description {
        margin: 0.5rem 0 0 0;
    }

    &__action-link {
        color: var(--text-light) !important;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        > .fa-book-open {
            font-size: 5rem;
            padding: 0 2rem;
            border-left: solid 3px var(--bg-slategray);
            border-right: solid 3px var(--bg-slategray);
            border-radius: 0.5rem;
        }

        &:hover {
            color: var(--text-white) !important;
        }
    }

    &__action-text {
        font-family: var(--font-title);
        font-weight: bold;
        font-size: var(--text-size-title);
        text-transform: uppercase;
    }

    &-nav {
        padding: var(--default-spacing);
        display: block;

        &__menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            gap: var(--two-spacing);

            @media screen and (max-width:800px) {
                flex-direction: column;
                align-items: normal;
            }

            &-link {
                padding: 0.5rem 0;

                a {
                    color: var(--text-white) !important;
                    text-transform: uppercase;
                    padding: 0.5rem 1rem;

                    &:hover {
                        border-top: solid 3px var(--bg-primary);
                        color: var(--text-white);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}