.page-callout {
    background-color: var(--bg-primary);
    color: var(--text-white);
    padding: var(--three-spacing) var(--default-spacing);

    @media screen and (max-width:800px) {
        margin-bottom: var(--two-spacing);
    }

    & > .container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        gap: var(--five-spacing);

        @media screen and (max-width:800px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }

        article {
            flex: 1;
        }

        div {
            background-color:transparent;
            text-align: center;
            width: 25%;

            @media screen and (max-width:800px) {
                display: none;
            }

            > [class*='fa-'] {
                font-size: calc(var(--text-size-lg) * 5);
            }
        }
    }

    &__title {
        color: var(--text-white);
        text-transform: unset;
        padding: 0.25rem 0;
        margin: 0;

        @media screen and (max-width:450px) {
            font-size: var(--text-size-lg);
        }
    }

    &__description {
        margin: 0.5rem 0;
    }

    &__action-link {
        margin-top: var(--two-spacing);
        padding: 1rem var(--two-spacing);
        background-color: var(--bg-light);
        border-radius: 3px;
        display: inline-block;

        @media screen and (max-width:800px) {
            flex-wrap: wrap;
            align-content: flex-start;
        }

        &:hover {
            background-color: #fff;
            color: var(--text-primary);
        }
    }

    &__action-text {
        font-family: var(--font-title);
        font-weight: bold;
        font-size: var(--text-size-title);
        text-transform: uppercase;
    }
}