aside {
    width: 25rem;

    @media screen and (max-width:800px) {
        width: calc(100% - var(--two-spacing));
    }

    & div {
        padding: var(--default-spacing);
        background-color: var(--bg-slategray);
        border-radius: 0.25rem;
    }
}
