<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Articles for Fullstack-dev Technology">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/da24d161f6.js" crossorigin="anonymous"></script>
        <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5295597570562522"
            crossorigin="anonymous"></script>
        {% mermaid_js %}
        <link rel="icon" href="/assets/img/_logo.png">
        <link rel="stylesheet" href="/assets/css/style.min.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% include '_header.njk' %}
        <main>
            {% include '_page-callout.njk' %}
            <section class="container article-mainpage">
                <aside class="article-mainpage__toc small">
                    <h6>Table Of Contents</h6>
                    {{ content | toc | safe }}
                </aside>
                <article class="article-mainpage__content">
                    {{ content | safe }}
                    <nav class="article-mainpage__content-nav">
                        <a href="" class="content-nav content-nav__previous">
                            <i class="fa-solid fa-angles-left fa-2x"></i>
                            <div>
                                <p>PREVIOUS</p>
                                <small>Software Engineering Jumpstart</small>
                            </div>
                        </a>
                        <a href="" class="content-nav content-nav__next">
                            <div>
                                <p>NEXT</p>
                                <small>Learning Overview</small>
                            </div>
                            <i class="fa-solid fa-angles-right fa-2x"></i>
                        </a>
                    </nav>
                    <div class="giscus giscus-frame">
                        <script src="https://giscus.app/client.js"
                            data-repo="cristianmayo/fdtechdotnet"
                            data-repo-id="R_kgDOJKvtLA"
                            data-category="Articles"
                            data-category-id="DIC_kwDOJKvtLM4CV-Z_"
                            data-mapping="pathname"
                            data-strict="0"
                            data-reactions-enabled="1"
                            data-emit-metadata="1"
                            data-input-position="top"
                            data-theme="dark"
                            data-lang="en"
                            crossorigin="anonymous"
                            async>
                        </script>
                    </div>
                </article>
            </section>
        </main>
        {% include '_footer.njk' %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        <script src="/assets/js/script.min.js" async></script>
    </body>
</html>