---
layout: _base.njk
---

{% include '_content/page-header.njk' %}

<section class="page-content">
   <div class="page-content__details">
        <section class="article-list">
            {{ content | safe }}
        </section>
    </div>
    <div class="page-content__sidebar">
        {% include '_content/cards/category-cards.njk' %}
    </div>
</section>