---
layout: _base.njk
---

{% include '_content/page-header.njk' %}

<section class="page-content">
   <div class="page-content__details">
        {% if featuredImage %}
        <figure class="featured-figure">
            <img src="{{ featuredImage }}" alt="{{ featuredImageCaption }}">
            <figcaption>{{ featuredImageCaption }}</figcaption>
        </figure>
        {% endif %}
        <section class="page-content__details-view">
            {{ content | safe }}
        </section>
        <div class="page-content__divider"></div>
        <section class="page-content__giscus">
            <div class="giscus giscus-frame"></div>
            <script src="https://giscus.app/client.js"
                data-repo="cristianmayo/fdtechdotnet"
                data-repo-id="R_kgDOJKvtLA"
                data-category="Articles"
                data-category-id="DIC_kwDOJKvtLM4CeTrF"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="top"
                data-theme="dark"
                data-lang="en"
                crossorigin="anonymous"
                async>
            </script>
        </section>
   </div>
    <div class="page-content__toc cards cards-gray">
        <h6 class="page-content__toc-title">Table Of Contents</h6>
        {{ content | toc | safe }}
    </div>
</section>