<section class="container article-nav">
    <ul class="article-nav__menu">
        <li class="article-nav__menu-link">
            <a href="/articles/get-started">Get Started</a>
        </li>
        <li class="article-nav__menu-link">
            <a href="/articles/frontend-development">Front-end Development</a>
        </li>
        <li class="article-nav__menu-link">
            <a href="/articles/backend-development">Back-end Development</a>
        </li>
        <li class="article-nav__menu-link">
            <a href="/articles/devops-practices">DevOps Practices</a>
        </li>
        <li class="article-nav__menu-link">
            <a href="/articles/cloud-infrastructure">Cloud Infrastructure</a>
        </li>
    </ul>
</section>