<section class="container article-nav">
    <ul class="article-nav__menu">
        <li class="article-nav__menu-link">
            <a href="/docs/get-started">Get Started</a>
        </li>
        <li class="article-nav__menu-link">
            <a href="/docs/tools-and-services">Tools and Services</a>
        </li>
        <li class="article-nav__menu-link">
            <a href="/docs/frontend-dev">Front-end Development</a>
        </li>
        <li class="article-nav__menu-link">
            <a href="/docs/backend-dev">Back-end Development</a>
        </li>
        <li class="article-nav__menu-link">
            <a href="/docs/devops-practices">DevOps Practices</a>
        </li>
        <li class="article-nav__menu-link">
            <a href="/docs/cloud-infra">Cloud Infrastructure</a>
        </li>
    </ul>
</section>