<footer>
    <section class="footer__nav">
        {% include '_nav.njk' %}
        <label class="footer__notes">&copy; {% currentYear %} - Developed and maintained by <a href="{{ githubProfile }}" target="_blank">{{ author }}</a></label>
    </section>
</footer>