<footer>
    <section class="container footer__nav">
        <nav>
            <ul class="nav__menu">
                {# <li class="nav__menu-link">
                    <a href="/">Sponsors</a>
                </li>
                <li class="nav__menu-link">
                    <a href="/">Affiliate Products</a> #}
                </li>
                <li class="nav__menu-link">
                    <a href="/">Learning Resources</a>
                </li>
                <li class="nav__menu-link">
                    <a href="{{ siteGitHubRepository }}" target="_blank">Contribute</a>
                </li>
            </ul>
        </nav>
        <label class="footer__notes">&copy; {% currentYear %} - Developed by <a href="{{ githubProfile }}" target="_blank">{{ author }}</a></label>
    </section>
</footer>