<header>
    <div class="container">
        <a class="logo-brand" href="/">
            <img src="/assets/img/_logo.png" alt="Logo Thumbnail">
        </a>
        <div class="header__title">
            <span>{{ siteName }}</span>
            <span>{{ siteHandlename }}</span>
        </div>
        <div class="header__default-nav">
            {% include '_nav.njk' %}
        </div>
    </div>
</header>