<header>
    <div class="container">
        <a class="logo-brand" href="/">
            <img src="/assets/img/_logo.png" alt="Logo Thumbnail">
        </a>
        <div class="header__title">
            <span>{{ siteName }}</span>
            <span>{{ siteHandlename }}</span>
        </div>
        <div class="header__nav">
            {% include '_nav.njk' %}
        </div>
        <a class="header__menu-toggle">
            <i class="fa-solid fa-bars fa-2x"></i>
        </a>
    </div>
</header>