<nav>
    <ul class="nav__menu">
        <li class="nav__menu-link active">
            <a href="/">Home</a>
        </li>
        <li class="nav__menu-link">
            <a href="/docs">Documentations</a>
        </li>
        <li class="nav__menu-link">
            <a href="/spotlights">Spotlights</a>
        </li>
        <li class="nav__menu-link">
            <a href="/articles">Articles</a>
        </li>
    </ul>
</nav>