<nav>
    <ul class="nav__menu">
        <li class="nav__menu-link">
            <a href="/">Home</a>
        </li>
        <li class="nav__menu-link">
            <a href="/about">About</a>
        </li>
        <li class="nav__menu-link">
            <a href="/docs">Documentations</a>
        </li>
        {# <li class="nav__menu-link">
            <a href="/projects">Projects</a>
        </li> #}
    </ul>
</nav>