<nav>
    <ul class="nav__menu">
        <li class="nav__menu-link">
            <a href="/home">Home</a>
        </li>
        <li class="nav__menu-link">
            <a href="/about">About</a>
        </li>
    </ul>
</nav>