<nav class="container page-callout-nav">
    <ul class="page-callout-nav__menu">
        <li class="page-callout-nav__menu-link">
            <a href="">Learning Resources</a>
        </li>
        <li class="page-callout-nav__menu-link">
            <a href="/spotlights">Spotlights</a>
        </li>
    </ul>
</nav>