<section class="page-callout">
    <div class="container">
        <article>
            <h1 class="page-callout__title">{{ title }}</h1>
            {% if description %}
            <p class="page-callout__description">{{ description }}</p>
            {% endif %}
        </article>
        {% if calloutActionLink %}
        <a href="{{calloutActionLink}}" class="page-callout__action-link">
            <span class="page-callout__action-text">
                {{calloutActionText}}
                <i class="fa-solid fa-angles-right fa-1x"></i>
            </span>
        </a>
        {% endif %}
    </div>
</section>