<section class="page-callout">
    <div class="container">
        <article>
            <h1 class="page-callout__title">{{ calloutTitle }}</h1>
            {% if calloutDescription %}
                <p class="page-callout__description">{{ calloutDescription }}</p>
            {% endif %}
        </article>
    </div>
</section>