---
layout: _base.njk
---

<section class="article-header">
    <div class="container">
        <small class="article-breadcrumb">
            <ul>
                <li class="article-breadcrumb__item">
                    <a href="/articles">Articles</a>
                </li>
                <li class="article-breadcrumb__divider">
                    <i class="fa-solid fa-angles-right"></i>
                </li>
                <li class="article-breadcrumb__item">{{ categories }}</li>
            </ul>
        </small>
        <h1 class="article-header__title">{{ title }}</h1>
        <small>Published on {{ date | localeDate }}</small>
    </div>
</section>

<section class="container article-entry">
    <aside>
        <div class="article-entry__toc">
            <h6>Table Of Contents</h6>
            {{ content | toc | safe }}
        </div>
    </aside>
    <article class="article-entry__content">
        {{ content | safe }}
        <div class="giscus giscus-frame"></div>
    </article>
</section>

<script src="https://giscus.app/client.js"
        data-repo="cristianmayo/fdtechdotnet"
        data-repo-id="R_kgDOJKvtLA"
        data-category="Article"
        data-category-id="DIC_kwDOJKvtLM4CV-Z-"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>