---
layout: _base.njk
---

<section class="docs-header">
    <div class="container">
        <small class="docs-breadcrumb">
            <ul>
                <li class="docs-breadcrumb__item">
                    <a href="/docs">Documentations</a>
                </li>
                <li class="docs-breadcrumb__divider">
                    <i class="fa-solid fa-angles-right"></i>
                </li>
                <li class="docs-breadcrumb__item">{{ category }}</li>
            </ul>
        </small>
        <h1 class="docs-header__title">{{ title }}</h1>
        {% if lastDateUpdated %}
            <small>Last updated on {{ lastDateUpdated | localeDate }}</small>
        {% endif %}
    </div>
</section>

<section class="container docs-entry">
    <aside>
        <div class="docs-entry__toc">
            <h6>Table Of Contents</h6>
            {{ content | toc | safe }}
        </div>
    </aside>
    <article class="docs-entry__content">
        {% if featuredImage %}
            <figure class="docs-entry__content-featured-image">
                <img src="/_assets/{{ featuredImage }}" alt="Featured Image">
                <figcaption>Figure  01 - {{ featuredImageCaption }}</figcaption>
            </figure>
        {% endif %}
        {{ content | safe }}
        <div class="giscus giscus-frame"></div>
    </article>
</section>

<script src="https://giscus.app/client.js"
        data-repo="cristianmayo/fdtechdotnet"
        data-repo-id="R_kgDOJKvtLA"
        data-category="Documentations"
        data-category-id="DIC_kwDOJKvtLM4CYXBj"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>