---
title: "Cloud Infrastructure"
description: "Explore and familiarize with Microsoft Azure cloud services by learning to orchestrate
    infrastructure suited for your needs."
---

{%- set categoryArticles = collections.articles | articlesByCategoryTag('cloud-infrastructure') -%}
{% if categoryArticles.length > 0 %}
    {% for post in categoryArticles %}
        <a href="{{ post.url }}" class="article-list__item">
            <article>
                <h3 class="article-list__item-title">{{ post.data.title }}</h3>
                <div class="article-list__item-meta small">Published on {{ post.data.date | localeDate }}</div>
                <span class="article-list__item-excerpt">
                    {% if post.data.description %}
                        {{ post.data.description | excerpt }}
                    {% else %}
                        {{ post.templateContent | excerpt }}
                    {% endif %}
                </span>
            </article>
        </a>
    {% endfor %}
{% else %}
    <span class="article-list__notice">No post have been made yet...</span>
{% endif %}