---
title: "DevOps Practices"
description: "Start implementing build, test, deployment with automations and
    known practices between development and operations."
---

{% if collections.devopspractices.length > 0 %}
    {% for post in collections.devopspractices | sortedCollectionByDateDesc %}
        <article class="article-entry">
            <a href="{{ post.url }}" class="article-entry__title">{{ post.data.title }}</a>
            <p class="article-entry__meta small">Published on {{ post.data.date | localeDate }}</p>
            <a href="{{ post.url }}" class="article-entry__excerpt">
                {% if post.data.description %}
                    {{ post.data.description | excerpt }}
                {% else %}
                    {{ post.templateContent | excerpt }}
                {% endif %}
            </a>
        </article>
    {% endfor %}
{% else %}
    <span class="article-post-notice">No post have been made yet...</span>
{% endif %}