<section class="article-category-cards">
    <div class="article-category-cards__item">
        <a href="/articles/webapp-development">
            <article class="category-card">
                {# <i class="fa-solid fa-code"></i> #}
                <h3 class="category-card__title">WebApp Development</h3>
                <p class="category-card__description">
                    Familiarize with full-stack web application development by learning
                    front-end client and back-end service application development.
                </p>
                <span class="category-card__post-count small">
                    <span>0 Articles</span>
                </span>
            </article>
        </a>
    </div>
    <div class="article-category-cards__item">
        <a href="/articles/devops-practices">
            <article class="category-card">
                {# <i class="fa-solid fa-infinity"></i> #}
                <h3 class="category-card__title">DevOps Practices</h3>
                <p class="category-card__description">
                    Start implementing build, test, deployment with automations and
                    known practices between development and operations.
                </p>
                <span class="category-card__post-count small">
                    <span>0 Articles</span>
                </span>
            </article>
        </a>
    </div>
    <div class="article-category-cards__item">
        <a href="/articles/cloud-infrastructure">
            <article class="category-card">
                {# <i class="fa-solid fa-cloud"></i> #}
                <h3 class="category-card__title">Cloud Infrastructure</h3>
                <p class="category-card__description">
                    Explore and familiarize with Microsoft Azure cloud services by learning to orchestrate
                    infrastructure suited for your needs.
                </p>
                <span class="category-card__post-count small">
                    <span>0 Articles</span>
                </span>
            </article>
        </a>
    </div>
</section>