<section class="article-categories">
    {% if collections.articlesByCategory.length > 0 %}
    <h5 class="article-categories__title">Article Categories</h5>
    <ul class="article-categories__list">
        {% for articles in collections.articlesByCategory | sort(false, false, articles[0]) %}
        <li>
            <a href="/articles/{{ articles[0] | slugify }}">
                {{ articles[0] }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>