<section class="article-posts">
    <div class="container">
        <article class="articles-category">
            {# <i class="fa-solid fa-code"></i> #}
            <h3 class="articles-category__title">WebApp Development</h3>
            <p class="articles-category__description">
                Familiarize with full-stack web application development by learning
                front-end client and back-end service application development.
            </p>
            <span class="articles-category__post-count small">
                <span>0 Articles</span>
            </span>
        </article>
        <article class="articles-category">
            {# <i class="fa-solid fa-infinity"></i> #}
            <h3 class="articles-category__title">DevOps Practices</h3>
            <p class="articles-category__description">
                Start implementing build, test, deployment with automations and
                known practices between development and operations.
            </p>
            <span class="articles-category__post-count small">
                <span>0 Articles</span>
            </span>
        </article>
        <article class="articles-category">
            {# <i class="fa-solid fa-cloud"></i> #}
            <h3 class="articles-category__title">Cloud Infrastructure</h3>
            <p class="articles-category__description">
                Explore and familiarize with cloud services by learning to orchestrate Infrastructure
                suited for your needs.
            </p>
            <span class="articles-category__post-count small">
                <span>0 Articles</span>
            </span>
        </article>
    </div>
</section>