<section class="recent-posts">
    <h5 class="container recent-posts__title">Recent Posts</h5>
    <div class="container recent-posts__entries">
        <div class="entry-posts">
            {% for post in collections.publishedPosts | take(5) | sort(false, false, date) %}
                <article class="entry-posts__ite">
                    <a href="{{ post.url }}" class="entry-posts__item-title">{{ post.data.title }}</a>
                    <div class="entry-posts__item-meta small">Published on {{ post.data.date | localeDate }}</div>
                    <a href="{{ post.url }}" class="entry-posts__item-excerpt">
                        {{ post.templateContent | excerpt }}
                    </a>
                </article>
            {% endfor %}
        </div>
        <div class="posts-categories">
            <h5 class="posts-categories__title">Subcategories</h5>
            <ul class="posts-categories__list">
            {% for category in collections.postsByCategory %}
                <li>{{ category[0] }}</li>
                {# <li>{{ category[0] }} ({{ category[1].length }})</li> #}
            {% endfor %}
            </ul>
        </div>
    </div>
</section>