<section class="under-construction">
    <h1>Under Construction</h1>
    <div>
        <p>
            Hi there! This section of the page is still under development
            and will publish as soon as completed.
        </p>
    </div>
</section>