pre:not([class]), code[class="language-mermaid"] {
    background-color: transparent;
    border-radius: unset;
    padding: 0;
}

pre:not([class]) {
    margin: 0 0 var(--default-spacing) 0;
}


div.mermaidjs-diagram {

    svg[role="graphics-document document"] {

        .actor, .participant, .pieTitleText, .gitTitleText {
            font-family: var(--font-title) !important;
            font-weight: bold;
        }

        .pieTitleText {
            font-size: var(--text-size-subtitle) !important;
        }

        .messageText, span.nodeLabel, span.edgeLabel, .slice, .legend text {
            font-family: var(--font-body) !important;
            font-size: small !important;
        }

        .branchLabel text {
            font-family: var(--font-body) !important;
            font-size: smaller !important;
            font-weight: bold;
        }

    }

}