.articles-category-page {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--three-spacing);

    @media screen and (max-width:800px) {
        display: flex;
        flex-direction: column;
        gap: var(--two-spacing);
    }

    &__content {
        order: 1;
        grid-column: 1;
        grid-row: span 3;

        &-header {
            background-color: var(--bg-primary);
            padding: var(--three-spacing) var(--two-spacing);
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;

            @media screen and (max-width:800px) {
                padding: var(--two-spacing) var(--default-spacing);
                margin-right: var(--default-spacing);
            }

            > ul {
                margin: 0;
                padding: 0;
                display: flex;
                gap: var(--default-spacing);
                color: var(--text-lightgray);
                text-transform: uppercase;
                font-weight: bold;

                a {
                    color: var(--text-lightgray);
                }
            }

            > h1 {
                color: #fff;
                padding: 0;
                margin: 0;
            }

            > p {
                margin: var(--default-spacing) 0 0 0;
                padding: 0;
            }
        }

        &-list {
            margin: var(--two-spacing) 0 0 0;
            display: flex;
            flex-direction: column;
            gap: var(--two-spacing);

            .article-entry {
                margin: 0 0 0 var(--two-spacing);
                padding: 0;

                @media screen and (max-width:800px) {
                    margin: 0 0 0 var(--default-spacing);
                    padding: 0 var(--default-spacing) 0 0;
                }

                &:first-child {
                    padding: var(--two-spacing) 0 0 0;
                    border-top: solid var(--bg-primary) var(--half-spacing);
                }

                &__title {
                    color: var(--text-primary);
                    font-size: var(--text-size-lg);
                    font-family: var(--font-title);
                    font-weight: bold;
                    display: block;

                    &:visited, &:hover {
                        color: var(--text-primary);
                    }
                }

                &__meta {
                    color: var(--text-lightgray);
                    margin: 0 0 var(--half-spacing) 0;
                }

                &__excerpt {
                    line-height: 1.5;
                    color: var(--text-light);
                    display: block;

                    @media screen and (max-width:800px) {
                        font-size: var(--text-size-default);
                    }

                    &:visited {
                        color: var(--text-light);
                    }

                    &:hover {
                        color: #fff;
                    }
                }
            }

            .article-post-notice {
                margin-left: var(--two-spacing);
                padding: var(--default-spacing) 0 0 0;
                border-top: solid var(--bg-primary) var(--half-spacing);
            }
        }
    }

    &__callout-actions {
        order: 2;
        grid-column: 2;
        margin: 0 var(--two-spacing) 0 0;

        @media screen and (max-width:800px) {
            margin: 0 var(--default-spacing);
        }
    }

    > aside {
        order: 3;
        grid-column: 2;
        padding: 0 var(--two-spacing);

        @media screen and (max-width:800px) {
            padding: var(--default-spacing);
        }
    }

}