.about-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--three-spacing);
    margin: 0;
    padding: 0;

    @media screen and (max-width:800px) {
        display: flex;
        flex-direction: column;
        gap: var(--two-spacing);
    }

    &__content {
        order: 1;
        grid-column: 0;
        grid-row: span 3;
        display: flex;
        flex-direction: column;
        gap: var(--two-spacing);

        @media screen and (max-width:800px) {
            order: 2;
            gap: var(--default-spacing);
        }

        &-header {
            background-color: var(--bg-primary);
            padding: var(--three-spacing) var(--two-spacing);
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;

            @media screen and (max-width:800px) {
                padding: var(--two-spacing) var(--default-spacing);
                margin-right: var(--default-spacing);
            }

            > h1 {
                color: #fff;
                padding: 0;
                margin: 0;
            }
        }

        &-toc {
            margin: 0 0 0 var(--two-spacing);
            padding: var(--two-spacing) 0 0 0;
            border-top: solid var(--bg-primary) var(--half-spacing);

            @media screen and (max-width:800px) {
                margin: 0 0 0 var(--default-spacing);
                padding: var(--default-spacing) 0 0 0;
            }

            h6 {
                text-transform: uppercase;
                font-size: var(--text-size-default);
                color: var(--text-light);
            }

            ul {
                margin: 0;
                padding: 0 0 0 1.5rem;

                & > li a {
                    display: block;
                    padding: 0.25rem;
                    color: var(--text-lightgray);
                    font-size: small;

                    &:hover {
                        color: var(--text-white);
                    }
                }
            }
        }

        &-entry {
            padding: 0 var(--two-spacing);

            @media screen and (max-width:800px) {
                padding: 0 var(--default-spacing);
            }

            & h3, & h4, & h5, & h6 {
                color: var(--text-white);
                text-transform: capitalize;
            }

            & h2 {
                // text-transform: capitalize;
                size: var(--text-size-lg);
            }

            & h1 {
                border-top: 5px solid var(--bg-primary);
                padding-top: var(--default-spacing);
                display: block;
            }

            & img {
                width: 100%;
            }
        }

        & > .giscus {
            border-top: 5px solid var(--bg-primary);
            margin-top: var(--two-spacing);
            padding-top: var(--two-spacing);
        }
    }

    &__callout-actions {
        order: 3;
        grid-column: 2;
        margin: 0 var(--two-spacing) 0 0;

        @media screen and (max-width:800px) {
            margin: 0 var(--default-spacing);
        }
    }

    > aside {
        display: flex;
        flex-direction: column;
        gap: var(--default-spacing);
        padding: 0 var(--two-spacing) 0 0;
        order: 4;
        grid-column: 2;

        @media screen and (max-width:800px) {
            padding: 0 var(--default-spacing);
        }
    }
}