.articles-page {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: stretch;
    gap: var(--three-spacing);

    @media screen and (max-width:800px) {
        display: flex;
        flex-direction: column;
        gap: var(--two-spacing);
    }

    &__articles-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: var(--two-spacing);
        grid-column: 1;
        grid-row: span 3;

        @media screen and (max-width:800px) {
            gap: 0;
        }

        .articles-list {

            &__header {
                background-color: var(--bg-primary);
                padding: var(--three-spacing) var(--two-spacing);
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;

                @media screen and (max-width:800px) {
                    padding: var(--two-spacing) var(--default-spacing);
                    margin-right: var(--default-spacing);
                }

                > h1 {
                    color: #fff;
                    padding: 0;
                    margin: 0;
                }
            }

            @media screen and (max-width:800px) {
                padding: 0 var(--default-spacing);
            }

            &__entry {
                padding: 0 var(--two-spacing);

                @media screen and (max-width:800px) {
                    padding: var(--default-spacing);
                }

                .article-entry {

                    &__title {
                        color: var(--text-primary);
                        font-size: var(--text-size-lg);
                        font-family: var(--font-title);
                        font-weight: bold;
                        display: block;

                        &:visited, &:hover {
                            color: var(--text-primary);
                        }
                    }

                    &__meta {
                        color: var(--text-lightgray);
                        padding-bottom: calc(var(--default-spacing)/2);
                    }

                    &__excerpt {
                        line-height: 1.5;
                        color: var(--text-light);
                        display: block;

                        @media screen and (max-width:800px) {
                            font-size: var(--text-size-default);
                        }

                        &:visited {
                            color: var(--text-light);
                        }

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    &__callout-actions {
        grid-column: 2;
        margin: 0 var(--two-spacing) 0 0;

        @media screen and (max-width:800px) {
            margin: 0 var(--default-spacing);
        }
    }

    > aside {
        display: flex;
        flex-direction: column;
        gap: var(--default-spacing);
        padding: 0 var(--two-spacing) 0 0;
        grid-column: 2;

        @media screen and (max-width:800px) {
            padding: 0 var(--default-spacing);
        }
    }
}