.article-list {
    display: flex;
    flex-direction: column;
    gap: var(--two-spacing);
    margin: 0 0 0 var(--two-spacing);

    &__item {
        color: var(--text-light);

        &:hover {
            color: #fff;
        }

        &:visited {
            color: var(--text-light);

            &:hover {
                color: #fff;
            }
        }

        &-title {
            color: var(--text-primary);
            font-size: var(--text-size-lg);
            font-family: var(--font-title);
            font-weight: bold;
            display: block;

            &:visited, &:hover {
                color: var(--text-primary);
            }
        }

        &-meta {
            color: var(--text-lightgray);
            padding-bottom: calc(var(--default-spacing)/2);
        }

        &-excerpt {
            line-height: 1.5;
            // color: var(--text-light);
            display: block;
        }
    }

    &__notice {
        border-left: solid 1rem var(--bg-lightgray);
        padding: var(--half-spacing) var(--default-spacing);
        margin: 0;
        color: var(--text-light);
        display: flex;
        flex-direction: column;
        gap: var(--default-spacing);
        max-width: 750px;

        p {
            padding: 0;
            margin: 0;
        }
    }
}