.page-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--three-spacing);
    align-content: stretch;
    align-items: stretch;
    justify-items: stretch;

    @media screen and (max-width:800px) {
        display: flex;
        flex-direction: column;
        gap: var(--two-spacing);
    }

    &__overview {

        > h3 {
            padding: 0 var(--two-spacing);
            text-transform: capitalize;
            font-family: var(--font-title);
            font-size: var(--text-size-title);
            font-weight: bold;
            color: var(--text-primary);

            @media screen and (max-width:800px) {
                padding: 0 var(--default-spacing);
            }
        }

        > p {
            padding: 0 var(--two-spacing);
            margin: var(--default-spacing) 0 0 0;

            @media screen and (max-width:800px) {
                padding: 0 var(--default-spacing);
            }
        }

    }

    &__details {
        grid-column: 1;
        grid-row: span 4;
        display: flex;
        flex-direction: column;
        gap: var(--three-spacing);

        &-list {
            display: flex;
            flex-direction: column;
            gap: var(--three-spacing);

            @media screen and (max-width:800px) {
                gap: var(--two-spacing);
            }

            > article {
                padding: 0 var(--two-spacing);

                @media screen and (max-width:800px) {
                    padding: 0 var(--default-spacing);
                }

                & h3, & h4, & h5, & h6 {
                    color: var(--text-white);
                    text-transform: capitalize;
                }

                & h2 {
                    size: var(--text-size-lg);
                }

                & h1 {
                    border-top: 5px solid var(--bg-primary);
                    padding-top: var(--default-spacing);
                    display: block;
                }

                & img {
                    width: 100%;
                }
            }
        }

        &-view {
            margin: 0 0 0 var(--two-spacing);
            padding: 0;

            @media screen and (max-width:800px) {
                margin: 0 var(--default-spacing);
            }

            :where(h1, h2, h3, h4, h5, h6):not(:first-child) {
                margin: var(--three-spacing) 0 0 0;
            }
        }

        .featured-figure {
            padding: 0 var(--two-spacing);
            margin: 0;

            @media screen and (max-width:800px) {
                padding: 0 var(--default-spacing);
            }

            figcaption h5 {
                color: var(--text-dimgray);
                text-transform: uppercase;
            }

            img {
                width: 100%;

                @media screen and (max-width:800px) {
                    margin: var(--default-spacing);
                    width: calc(100% - var(--two-spacing));
                }
            }
        }

        .article-content {
            padding: 0 var(--two-spacing);

            &__title {
                font-family: var(--font-title);
                font-size: var(--text-size-subtitle);
                font-weight: bold;
                color: var(--text-primary);
            }
            &__description {
                margin: 0;
                padding: 0;

                @media screen and (max-width:800px) {
                    margin-top: 0;
                }
            }
        }

        .article-list {
            display: flex;
            flex-direction: column;
            gap: var(--two-spacing);
            margin: 0 0 0 var(--two-spacing);

            &__item {
                color: var(--text-light);

                &:hover {
                    color: #fff;
                }

                &:visited {
                    color: var(--text-light);

                    &:hover {
                        color: #fff;
                    }
                }

                &-title {
                    color: var(--text-primary);
                    font-size: var(--text-size-lg);
                    font-family: var(--font-title);
                    font-weight: bold;
                    display: block;

                    &:visited, &:hover {
                        color: var(--text-primary);
                    }
                }

                &-meta {
                    color: var(--text-lightgray);
                    padding-bottom: calc(var(--default-spacing)/2);
                }

                &-excerpt {
                    line-height: 1.5;
                    // color: var(--text-light);
                    display: block;
                }
            }

            &__notice {
                border-left: solid 1rem var(--bg-lightgray);
                padding: var(--half-spacing) var(--default-spacing);
                margin: 0;
                color: var(--text-light);
                display: flex;
                flex-direction: column;
                gap: var(--default-spacing);
                max-width: 750px;

                p {
                    padding: 0;
                    margin: 0;
                }
            }
        }

        .project-list {
            display: flex;
            flex-direction: column;
            gap: var(--two-spacing);
            margin: 0 0 0 var(--two-spacing);

            &__item {
                color: var(--text-light);

                &:hover {
                    color: #fff;
                }

                &:visited {
                    color: var(--text-light);

                    &:hover {
                        color: #fff;
                    }
                }

                &-title {
                    color: var(--text-primary);
                    font-size: var(--text-size-lg);
                    font-family: var(--font-title);
                    font-weight: bold;
                    display: block;

                    &:visited, &:hover {
                        color: var(--text-primary);
                    }
                }

                &-meta {
                    color: var(--text-lightgray);
                    padding-bottom: calc(var(--default-spacing)/2);
                }

                &-excerpt {
                    line-height: 1.5;
                    // color: var(--text-light);
                    display: block;
                }
            }

            &__notice {
                border-left: solid 1rem var(--bg-lightgray);
                padding: var(--half-spacing) var(--default-spacing);
                margin: 0;
                color: var(--text-light);
                display: flex;
                flex-direction: column;
                gap: var(--default-spacing);
                max-width: 750px;

                p {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    &__sidebar {
        grid-column: 2;
        margin: 0 var(--two-spacing) 0 0;
        display: flex;
        flex-direction: column;

        @media screen and (max-width:800px) {
            margin: 0 var(--default-spacing);
        }
    }

    &__toc {
        grid-column: 2;
        margin: 0 var(--two-spacing) 0 0;

        @media screen and (max-width:800px) {
            margin: 0 var(--default-spacing);
        }

        &-title {
            font-family: var(--font-title);
            font-size: var(--text-size-subtitle);
            font-weight: bold;
            text-transform: uppercase;
            color: var(--text-primary);
        }

        &-anchors, & ul {
            margin: 0;
            padding: 0 0 0 var(--two-spacing);

            & > li a {
                display: block;
                padding: var(--quarter-spacing);
                color: var(--text-lightgray);
                font-size: small;

                &:hover {
                    color: var(--text-white);
                }
            }
        }
    }

    &__divider{
        border-bottom: solid 3px var(--bg-slategray);
        margin: 0 0 0 var(--two-spacing);
        padding: 0;

        @media screen and (max-width:800px) {
            margin: 0 var(--default-spacing);
        }
    }

    &__giscus {
        margin: 0 0 0 var(--two-spacing);
        padding: 0;

        @media screen and (max-width:800px) {
            margin: 0 var(--default-spacing);
        }
    }
}