.page-header {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: 2fr 1fr;
    gap: var(--three-spacing);
    padding: 0;
    margin: 0;

    @media screen and (max-width:800px) {
        display: flex;
        flex-direction: column;
        gap: var(--two-spacing);
    }

    &__title-section {
        order: 1;
        padding: var(--three-spacing) var(--two-spacing);
        box-shadow: var(--shadow-dark-bottom);
        -webkit-box-shadow: var(--shadow-dark-bottom);
        -moz-box-shadow: var(--shadow-dark-bottom);
        background-color: var(--bg-primary);
        border-radius: 0 var(--quarter-spacing) var(--quarter-spacing) 0;
        display: flex;
        flex-direction: column;
        align-content: stretch;
        justify-content: center;
        align-items: stretch;

        @media screen and (max-width:800px) {
            order: 2;
            margin: 0 var(--default-spacing) 0 0;
            padding: var(--two-spacing) var(--default-spacing);
        }
    }

    &__category {
        margin: 0;
        padding: 0;
        display: flex;
        gap: var(--default-spacing);
        color: var(--text-lightgray);
        text-transform: uppercase;
        font-size: var(--text-size-small);
        font-weight: bold;

        a {
            color: var(--text-lightgray);
        }
    }

    &__title {
        text-transform: capitalize;
        color: #fff;
        padding: 0;
        margin: 0;

        @media screen and (max-width:800px) {
            font-size: var(--text-size-title);
        }
    }

    &__published-date {
        font-size: var(--text-size-small);
    }

    &__description {
        margin: var(--half-spacing) 0 0 0;
        font-size: var(--text-size-default);
        line-height: 1.5;
     }

    &__call-action {
        order: 2;
        padding: var(--two-spacing);
        box-shadow: var(--shadow-dark-bottom);
        -webkit-box-shadow: var(--shadow-dark-bottom);
        -moz-box-shadow: var(--shadow-dark-bottom);
        background-color: var(--bg-slategray);
        border-top: solid var(--quarter-spacing) var(--bg-primary);
        border-radius: 0 0 0 var(--quarter-spacing);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        @media screen and (max-width:800px) {
            order: 1;
            border-radius: unset;
            padding: var(--default-spacing);
            margin: 0;
        }

        .action-link {
            border-radius: var(--quarter-spacing);
            text-transform: uppercase;
            font-family: var(--font-title);
            font-size: var(--text-size-default);
            font-weight: bold;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            gap: var(--default-spacing);
            padding: var(--half-spacing) 0;
            color: var(--text-lightgray);

            @media screen and (max-width:800px) {

            }

            &:hover {
                color: var(--text-primary);
            }

            > svg[class*="fa-"] {
                font-size: var(--text-size-title);
                width: 50px;
                aspect-ratio: 1/1;
            }
        }
    }

    &__divider {
        order: 3;
        grid-column: span 2;
        background-color: var(--bg-primary);
        border-radius: 0 var(--quarter-spacing) var(--quarter-spacing) 0;
        padding: var(--quarter-spacing) 0;
        margin: 0 var(--two-spacing) 0 0;

        @media screen and (max-width:800px) {
            margin: 0 var(--default-spacing) 0 0;
        }
    }
}