main {
    margin: var(--default-spacing) 0;
    padding: var(--two-spacing);
    display: flex;
    flex-direction: column;
    gap: var(--five-spacing);

    @media screen and (max-width: 800px) {
        padding: var(--default-spacing);
        gap: var(--three-spacing);
    }
}