---
title: About
calloutTitle: "About"
---

<div class="container">
    <section>
        <article>
            <h1>Fullstack-dev Technology</h1>
            <p>
                "<em>Learn. Experience. Improve.</em>" is this page tagline which aims to empower individuals to learn
                from their experiences and continuously improve themselves, both personally and professionally. Through a commitment
                to ongoing learning and a willingness to embrace new experiences, individuals can unlock their full potential and
                achieve their goals. This page strive to inspire and support this journey of self-discovery and growth.
            </p>
        </article>
        <article>
            <p>
                <code>@fdtechdotnet</code>
                <span> : </span>
                <span>
                    The handle name of this page derived from the pursuit of learning and
                    using .NET technologies in terms of full-stack web application development and delivery
                    using cloud services for infrastructure.
                </span>
            </p>
        </article>
        <article>
            <h1>Disclaimer</h2>
            <p>
                The information provided on this website is for general informational purposes only.
                While we strive to provide accurate and up-to-date information, we make no representations or warranties of
                any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with
                respect to the website or the information, products, services, or related graphics contained on the website for
                any purpose. Any reliance you place on such information is therefore strictly at your own risk.
            <p>
            </p>
                In no event will we be liable for any loss or damage including without limitation, indirect or
                consequential loss or damage, or any loss or damage whatsoever arising from loss of data or
                profits arising out of, or in connection with, the use of this website.
            <p>
            </p>
                Through this website you are able to link to other websites which are not under our control. We have no control
                over the nature, content and availability of those sites. The inclusion of any links does not necessarily
                imply a recommendation or endorse the views expressed within them.
            <p>
            </p>
                Every effort is made to keep the website up and running smoothly. However, we take no responsibility for,
                and will not be liable for, the website being temporarily unavailable due to
                technical issues beyond our control.
            </p>
        </article>
   </section>
</div>