---
title: Articles
description: "Curated learning notes, insights and perspective, book and technology reviews
    related to full-stack web application development and delivery
    with cloud service infrastructure."
---

{% include '_content/page-header.njk' %}

<section class="page-content">
   <div class="page-content__details">
        <section class="article-list">
            {% for post in collections.articles | sortedCollectionByDateDesc %}
            <a href="{{ post.url }}" class="article-list__item">
                <article>
                    <h3 class="article-list__item-title">{{ post.data.title }}</h3>
                    <div class="article-list__item-meta small">Published on {{ post.data.date | localeDate }}</div>
                    <span class="article-list__item-excerpt">
                        {% if post.data.description %}
                            {{ post.data.description | excerpt }}
                        {% else %}
                            {{ post.templateContent | excerpt }}
                        {% endif %}
                    </span>
                </article>
            </a>
            {% endfor %}
        </section>
    </div>
    <div class="page-content__sidebar">
        {% include '_content/cards/category-cards.njk' %}
    </div>
</section>