---
title: Articles
---

{# {% include '_page-callout.njk' %} #}

<section id="article-page">
    <section class="articles-list">
    {% for post in collections.articles | sortedCollectionByDateDesc %}
        <article class="article-entry">
            <a href="{{ post.url }}" class="article-entry__title">{{ post.data.title }}</a>
            <div class="article-entry__meta small">
                <span><strong>{{ post.data.category }}</strong></span>
                <span class="divider"> | </span>
                <span>Published on {{ post.data.date | localeDate }}</span>
            </div>
            <a href="{{ post.url }}" class="article-entry__excerpt">
                {% if post.data.description %}
                    {{ post.data.description | excerpt }}
                {% else %}
                    {{ post.templateContent | excerpt }}
                {% endif %}
            </a>
        </article>
    {% endfor %}
    </section>
    <aside>
        <div class="container-block">{% include '_content/article-category-list.njk' %}</div>
        <div class="container-block">{% include '_content/article-subcategory-list.njk' %}</div>
    </aside>
</section>
