---
title: "Learn. Experience. Improve."
description: "Explore learning opportunities and experience working in full-stack
    web application development and delivery with cloud service infrastructure
    using a .NET stack of technologies and ecosystems as well as the use of
    modern JavaScript frameworks."
---

{% include '_content/page-header.njk' %}

<section class="page-content">
   <div class="page-content__details">
        <div class="page-content__overview">
            <h3>Full-stack WebApp Development and Delivery with Cloud Services</h3>
            <p>
                Let's embark on a collaborative learning experience in a full-stack web application development and
                delivery with cloud service infrastructures. Together, we'll unravel the complexities of
                cloud-based development, from inception to deployment. Join me in learning exploration and
                discussions, where knowledge flows freely and innovation thrives. Whether you're a novice
                or seasoned developer, there's always something new to discover and to share.
            </p>
            <p>
                Ready to expand your horizons? Explore this website to learn, experience, and improve!
            </p>
        </div>
        <figure class="featured-figure">
            <figcaption><h5>Figure 01: Learning Target and Scope</h5></figcaption>
            <img src="/_assets/svg/fdtechdotnet-learning-target-and-scope.drawio.svg" alt="Learning Target and Scope" />
        </figure>
    </div>
    <div class="page-content__sidebar">
        {% include '_content/cards/category-card_webapp-development.njk' %}
    </div>
    <div class="page-content__sidebar">
        {% include '_content/cards/category-card_devops-practices.njk' %}
    </div>
    <div class="page-content__sidebar">
        {% include '_content/cards/category-card_cloud-infrastructure.njk' %}
    </div>
</section>