---
title: "Learn. Experience. Improve."
description: "Explore learning opportunities and experience working in full-stack
    web application development and delivery with cloud service infrastructure
    using a .NET stack of technologies and ecosystems as well as the use of
    modern JavaScript frameworks."
---

{% include '_content/page-header.njk' %}

<section class="page-content">
   <div class="page-content__details">
        <div class="page-content__overview">
            <h3>Web Application Development and Delivery with Cloud Service Infrastructure</h3>
            <p>
                Let's embark on a collaborative learning experience in Web Application Development and
                Delivery with Cloud Service Infrastructure. Together, we'll unravel the complexities of
                cloud-based development, from inception to deployment. Join our learning exploration and
                engaging discussions, where knowledge flows freely and innovation thrives. Whether you're a novice
                or seasoned developer, there's always something new to discover.
            </p>
            <p>
                Ready to expand your horizons and learn alongside like-minded enthusiasts?
                Explore this website to learn, experience, and improve!
            </p>
        </div>
        <figure class="featured-figure">
            <figcaption><h5>Figure 01: Learning Target and Scope</h5></figcaption>
            <img src="/_assets/svg/fdtechdotnet-learning-target-and-scope.drawio.svg" alt="Learning Target and Scope" />
        </figure>
   </div>
    <div class="page-content__sidebar cards cards-gray">
        <h3 class="cards__title">WebApp Development</h3>
        <p class="cards__description">
            Familiarize with full-stack web application development by learning
            front-end client and back-end service application development.
        </p>
        <div class="cards__meta small">
            <span>0 Articles</span>
            <span class="divider"> | </span>
            <span>0 Projects</span>
            <span class="divider"> | </span>
            <span>0 Documentations</span>
        </div>
    </div>
    <div class="page-content__sidebar cards cards-gray">
        <h3 class="cards__title">DevOps Practices</h3>
        <p class="cards__description">
            Start implementing build, test, deployment with automations and
            known practices between development and operations.
        </p>
        <div class="cards__meta small">
            <span>0 Articles</span>
            <span class="divider"> | </span>
            <span>0 Projects</span>
            <span class="divider"> | </span>
            <span>0 Documentations</span>
        </div>
    </div>
    <div class="page-content__sidebar cards cards-gray">
        <h3 class="cards__title">Cloud Infrastructure</h3>
        <p class="cards__description">
            Explore and familiarize with Microsoft Azure cloud services by learning to orchestrate
            infrastructure suited for your needs.
        </p>
        <div class="cards__meta small">
            <span>0 Articles</span>
            <span class="divider"> | </span>
            <span>0 Projects</span>
            <span class="divider"> | </span>
            <span>0 Documentations</span>
        </div>
    </div>
</section>