---
title: Home
---

<section class="home-page">
    <figure class="home-page__featured-figure">
        <section class="featured-figure__title">
            <h1>Learn. Experience. Improve.</h1>
            <span>
                Explore learning opportunities and experience working in full-stack
                web application development and delivery with cloud service infrastructure
                using a .NET stack of technologies and ecosystems as well as the use of
                modern JavaScript frameworks.
            </span>
        </section>
        <figcaption><h5>Figure 01: Learning Target and Scope</h5></figcaption>
        <img src="/_assets/svg/fdtechdotnet-learning-target-and-scope.drawio.svg" alt="Learning Target and Scope" />
    </figure>
    <section class="home-page__meta">
        {% include '_content/article-category-cards.njk' %}
    </section>
    <div class="home-page__recent-articles">{% include '_content/recent-articles.njk' %}</div>
    <aside>
        {% include '_content/article-category-list.njk' %}
        {% include '_content/article-subcategory-list.njk' %}
    </aside>
</section>