---
title: Home
---

<section class="page-header">
    <section class="page-header__title">
        <h1>Learn. Experience. Improve.</h1>
        <span>
            Explore learning opportunities and experience working in full-stack
            web application development and delivery with cloud service infrastructure
            using a .NET stack of technologies and ecosystems as well as the use of
            modern JavaScript frameworks.
        </span>
    </section>
    <section class="page-header__call-action">
        <a href="#" class="action-link small">Documentations</a>
        <a href="#" class="action-link small">Articles</a>
        <a href="#" class="action-link small">Projects</a>
        <a href="#" class="action-link small">GitHub</a>
        <a href="#" class="action-link small">#</a>
        <a href="#" class="action-link small">#</a>
    </section>
</section>

<section class="page-content">
   <div class="page-content__details">
        <h3 class="page-content__title">
            Full-stack Web Application Development and Delivery with Cloud Service Infrastructure
        </h3>
        <figure class="featured-figure">
            <figcaption><h5>Figure 01: Learning Target and Scope</h5></figcaption>
            <img src="/_assets/svg/fdtechdotnet-learning-target-and-scope.drawio.svg" alt="Learning Target and Scope" />
        </figure>
   </div>
    <div class="page-content__sidebar content-block">
        <h3 class="sidebar__title">WebApp Development</h3>
        <p class="sidebar__description">
            Familiarize with full-stack web application development by learning
            front-end client and back-end service application development.
        </p>
        {# <span class="sidebar__meta small">
            <span>0 Articles</span>
        </span> #}
    </div>
    <div class="page-content__sidebar content-block">
        <h3 class="sidebar__title">DevOps Practices</h3>
        <p class="sidebar__description">
            Start implementing build, test, deployment with automations and
            known practices between development and operations.
        </p>
        {# <span class="sidebar__post-count small">
            <span>0 Articles</span>
        </span> #}
    </div>
    <div class="page-content__sidebar content-block">
        <h3 class="sidebar__title">Cloud Infrastructure</h3>
            <p class="sidebar__description">
                Explore and familiarize with Microsoft Azure cloud services by learning to orchestrate
                infrastructure suited for your needs.
            </p>
            {# <span class="sidebar__post-count small">
                <span>0 Articles</span>
            </span> #}
    </div>
</section>

{# <section class="home-page">
    <figure class="home-page__featured-figure">
        <section class="featured-figure__title">
            <h1>Learn. Experience. Improve.</h1>
            <span>
                Explore learning opportunities and experience working in full-stack
                web application development and delivery with cloud service infrastructure
                using a .NET stack of technologies and ecosystems as well as the use of
                modern JavaScript frameworks.
            </span>
        </section>
        <figcaption><h5>Figure 01: Learning Target and Scope</h5></figcaption>
        <img src="/_assets/svg/fdtechdotnet-learning-target-and-scope.drawio.svg" alt="Learning Target and Scope" />
    </figure>
    <section class="home-page__meta">
        {% include '_content/article-category-cards.njk' %}
    </section>
    <div class="home-page__recent-articles">{% include '_content/recent-articles.njk' %}</div>
    <aside>
        {% include '_content/article-category-list.njk' %}
        {% include '_content/article-subcategory-list.njk' %}
    </aside>
</section> #}