---
title: Projects
---

{% include '_content/page-header.njk' %}

<section class="page-content">
   <div class="page-content__details">
        {# {% include '_content/section-under-construction.njk' %} #}
        <section class="project-list">
            {% for post in collections.projects | sortedCollectionByDateDesc %}
            <a href="{{ post.url }}" class="project-list__item">
                <article>
                    <h3 class="project-list__item-title">{{ post.data.title }}</h3>
                    <div class="project-list__item-meta small">Published on {{ post.data.date | localeDate }}</div>
                    <span class="project-list__item-excerpt">
                        {% if post.data.description %}
                            {{ post.data.description | excerpt }}
                        {% else %}
                            {{ post.templateContent | excerpt }}
                        {% endif %}
                    </span>
                </article>
            </a>
            {% endfor %}
        </section>
    </div>
    <div class="page-content__sidebar">
        {% include '_content/cards/category-cards.njk' %}
    </div>
</section>