<section class="cards cards-gray">
    <h3 class="cards__title">WebApp Development</h3>
    <p class="cards__description">
        Familiarize with full-stack web application development by learning
        front-end client and back-end service application development.
    </p>
    <div class="cards__meta small">
        <span>0 Articles</span>
        <span class="divider"> | </span>
        <span>0 Projects</span>
        <span class="divider"> | </span>
        <span>0 Documentations</span>
    </div>
</section>