<a href="/articles/cloud-infrastructure/">
    <section class="cards cards-gray cards-link">
        <h3 class="cards__title">Cloud Infrastructure</h3>
        <p class="cards__description">
            Explore and familiarize with Microsoft Azure cloud services by learning to orchestrate
            infrastructure suited for your needs.
        </p>
        <div class="cards__meta small">
            <span>0 Articles</span>
            <span class="divider"> | </span>
            <span>0 Projects</span>
            <span class="divider"> | </span>
            <span>0 Documentations</span>
        </div>
    </section>
</a>