<div class="category-cards">
    {% include '_content/cards/category-card_webapp-development.njk' %}
    {% include '_content/cards/category-card_devops-practices.njk' %}
    {% include '_content/cards/category-card_cloud-infrastructure.njk' %}
</div>