<section class="cards cards-gray">
    <h3 class="cards__title">DevOps Practices</h3>
    <p class="cards__description">
        Start implementing build, test, deployment with automations and
        known practices between development and operations.
    </p>
    <div class="cards__meta small">
        <span>0 Articles</span>
        <span class="divider"> | </span>
        <span>0 Projects</span>
        <span class="divider"> | </span>
        <span>0 Documentations</span>
    </div>
</section>