header {
    border-bottom: solid 1px var(--bg-slategray);
    background-color: var(--bg-dark);
    box-shadow: var(--shadow-dark-bottom);
    -webkit-box-shadow: var(--shadow-dark-bottom);
    -moz-box-shadow: var(--shadow-dark-bottom);
    padding: var(--two-spacing);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;

    @media screen and (max-width:800px) {
        padding: var(--default-spacing);
    }

    .logo-brand img {
        width: 50px;
    }

    .header__title {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: normal;

        p {
            font-family: "Saira", 'Segoe UI';
            color: var(--text-light);
            font-size: var(--text-size-title);
            font-weight: bold;
            text-transform: uppercase;
            padding: 0;
            margin: 0;

            @media screen and (max-width:450px) {
                font-size: var(--text-size-subtitle);
            }
        }
    }

    .header__default-nav {
        display: block;

        @media screen and (max-width:800px) {
            display: none;
        }
    }
}