.docs-header {
    background-color: var(--bg-primary);
    color: var(--text-white);
    padding: var(--two-spacing) var(--default-spacing);

    &__title {
        color: var(--text-white);
        text-transform: unset;
        padding: 0;
        margin: 0;

        @media screen and (max-width:800px) {
            font-size: var(--text-size-lg);
        }
    }

    .docs-breadcrumb {
        text-transform: uppercase;
        font-family: var(--font-body);
        font-weight: bold;
        padding: var(--default-spacing) 0;
        color: var(--text-lightgray);

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 var(--default-spacing) 0;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            flex-direction: row;
        }

        &__item a {
            color: var(--text-lightgray) !important;

            &:hover {
                color: var(--text-primary);
            }
        }

        &__divider {
            margin: 0 calc(var(--default-spacing)/2);
            color: var(--text-lightgray);
        }
    }
}

.docs-entry {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: var(--three-spacing);

    @media screen and (max-width:800px) {
        flex-direction: column;
        gap: var(--default-spacing);
        width: calc(100%-var(--default-spacing));
    }


    &__toc {
        padding: var(--default-spacing);
        background-color: var(--bg-slategray);
        border-radius: 0.25rem;

        @media screen and (max-width:800px) {
            width: 100%;
        }

        h6 {
            text-transform: uppercase;
            font-size: var(--text-size-default);
            color: var(--text-light);
        }

        ul {
            margin: 0;
            padding: 0 0 0 1.5rem;

            & > li a {
                display: block;
                padding: 0.25rem;
                color: var(--text-lightgray);
                font-size: small;

                &:hover {
                    color: var(--text-white);
                }
            }
        }
    }

    &__content {
        flex: 1;

        h1, h2, h3, h4, h5, h6 {
            color: var(--text-white);
            text-transform: capitalize;
            margin-top: var(--two-spacing);
            font-weight: bold;
        }

        h1, h2 {
            border-top: 5px solid var(--bg-primary);
            padding-top: var(--two-spacing);
            margin-top: var(--three-spacing);
            display: block;
        }

        &-featured-image {
            background-color: var(--bg-dark);
            border-radius: 3px;
            padding: var(--default-spacing) var(--two-spacing);
            margin: 0 0 var(--default-spacing) 0;

            > img {
                width: 100%;
            }

            > figcaption {
                font-size: small;
                font-weight: bold;
            }
        }

        img {
            width: 100%;
        }

        & > .giscus {
            border-top: 5px solid var(--bg-primary);
            margin-top: var(--two-spacing);
            padding-top: var(--two-spacing);
        }
    }
}